ckpt/
ckpt_no_model/
ckpt_no_model2/
ckpt_scene2/
ckpt_test/
ckpt2/
mmt/__pycache__/
mmt/data/__pycache__/
mmt/datasets/waterloo.py/
mmt/datasets/__pycache__/
mmt/datasets/waterloo/
mmt/models/__pycache__/
model_ckpt/
scripts/nomodel/
scripts/output/
scripts/obs_12/
scripts/obs_4/
scripts/output_noscene_v2/
scripts/output_noscene/
scripts/output_noscene_2/
scripts/output_noscene_2_2/
scripts/output_noscene_3/
scripts/output_noscene_v1/
scripts/output_noscene_v4/
scripts/test/
scripts/output_scene_state2_231127/
scripts/output2/
scripts/with_scene/
scripts/print_args.py 
visualization/
traj_fig/
